{% extends '@VinorcolaPrivateUser/layout.html.twig' %}



{% block private_user_body %}
    <p>{{ 'private_user.forgottenPassword.rejectPasswordChange.message'|trans }}</p>

    <p><a href="{{ path('private_user.forgottenPassword.requirePasswordChange') }}">{{ 'private_user.forgottenPassword.rejectPasswordChange.retry'|trans }}</a></p>
{% endblock %}
