{% extends '@VinorcolaPrivateUser/layout.html.twig' %}



{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button-group">
            <button class="btn btn-primary">{{ 'private_user.admin.create.submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
