{% extends '@VinorcolaPrivateUser/layout.html.twig' %}



{% block private_user_body %}
    <p>{{ 'private_user.registration.confirmRegistration.message'|trans }}</p>

    <p><a href="/">{{ 'private_user.registration.confirmRegistration.start'|trans }}</a></p>
{% endblock %}
