{% extends '@VinorcolaPrivateUser/layout.html.twig' %}



{% block body %}
    <p>{{ 'private_user.registration.confirmRegistrationRequest.message'|trans({ '%emailAddress%': emailAddress }) }}</p>
{% endblock %}
