{% extends '@VinorcolaPrivateUser/layout.html.twig' %}



{% block private_user_body %}
    <p>{{ 'private_user.registration.rejectRegistration.message'|trans }}</p>

    <p><a href="{{ path('private_user.registration.requireRegistration') }}">{{ 'private_user.registration.rejectRegistration.retry'|trans }}</a></p>
{% endblock %}
